<form action="/adminLogIn" method="POST">
    <br><input type="text" id="login" name="login" placeholder="Enter a login">
    <br><input type="password" id="password" name="password" placeholder="Enter a password">
    <br><button>Submit</button>
</form>